* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Courier New", Courier, monospace;
}

.container {
  width: 100%;
  height: 100vh;

  background: rgb(41, 0, 129);
  background: linear-gradient(
    90deg,
    rgba(41, 0, 129, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(90, 69, 252, 1) 100%
  );
}

header {
  height: 5em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 15%;
  height: 70%;

  margin-top: 5em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

main form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  margin-top: 3em;
}

form .form-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  color: #f0f0f4;

  width: 30%;
  height: 80%;

  padding: 1em;
}

form .form-content label {
  margin-bottom: 0.5em;
}

form .form-content input {
  margin-bottom: 0.5em;
  width: 100%;
  height: 10%;

  padding: 0.5em;

  background: none;
  border: none;
  border-bottom: 1px solid #fff;

  color: #fff;
}

form .form-content label {
  margin-top: 1em;
}

form .form-content .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 20%;
}

form .form-content .buttons button {
  width: 40%;
  height: 60%;

  border: none;
  background: #fff;
  color: #000;

  cursor: pointer;

  transition: all 1s;
}

form .form-content .buttons a {
  color: #fff;
  text-decoration: none;
}

form .form-content .buttons a:hover {
  text-decoration: underline;
}

form .form-content .buttons button:hover {
  background: black;
  color: #fff;
}

@media (max-width: 860px) {
  form .form-content {
    width: 75%;
  }
}

@media (max-width: 760px) {
  header img {
    width: 30%;
    height: 70%;
  }

  form .form-content {
    width: 95%;
  }
}

@media (max-width: 560px) {
  header img {
    width: 40%;
    height: 70%;
  }
}
